// Third party libs
@import '../node_modules/normalize.css/normalize.css';

:root {
  --textColour: #333;
  --linkColour: #3488b2;
  --linkHoverColour: #385a6b;
  --linkActiveColour: #007bff;
  --linkActiveBackgroundColour: #fff;
  --tabBackgroundColour: #fff;
  --backgroundColour: #efefef;
  --spinnerBase: #385a6b;
  --spinnerContrast: #df7b30;
  --spinnerGo: #006608;
  --infoColour: #aaa;
  --borderColour: #ccc;
  --innerBorderColour: #eee;
  --transactionColour: #444;
  --btnText: #fff;
  --btnBackground: #3488b2;
  --btnHoverBackground: #385a6b;
  --focusBoxShadow: 0 0 1rem .2rem rgba(0, 0, 0, .25);
  --animationSpeed: .15s ease-in-out;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;

  font-size: 1rem;
  line-height: 1.5;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: var(--textColour);

  background-color: var(--backgroundColour);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.c-app {
  display: flex;
  max-width: 120rem;
  padding-right: 5vw;
  padding-left: 5vw;
  margin: 3rem auto;

  flex-direction: column;
}

.c-app__tab-content {
  background-color: var(--tabBackgroundColour);
}
